* {
    margin: 0;
    padding: 0;
}
header {
    background: red;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
main {
    height: 846px;
    display: flex;
}
#flex-container {
    display: flex;
    width:100%;
    height:100%;
    background: gold;
    justify-content: space-around;
    align-items: center;
    
}
.card {
    background: white;
    height: 35%;
    width: 14%;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 10px 10px;
}
.card-header {
    background: purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    border-radius: 15px 15px 0px 0px;
}
h2 {
    margin-left: 5%;
}
.card-body {
    background:orange;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0px 0px 10px 10px;
}
.id-div, .email-div, .extra {
    background: green;
    padding-top:4%;
    padding-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
}